.missionsCont {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.table {
  border: 1px solid #c0c0c0;
  background-color: #c0c0c0;
}

.headersCont {
  display: table-row;
}

tr {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #dcdcdc;
}

.mission {
  text-transform: uppercase;
}

.bodyCont {
  padding: 5%;
}

.contentBodyTit {
  font-size: 1.7vw;
  text-align: center;
  width: 12%;
}

.contentBodyDesc {
  font-size: 1.5vw;
  text-align: justify;
  padding: 2%;
  width: 65%;
}

.contentBody {
  font-size: 0.8rem;
  padding: 0 1%;
  width: 12%;
  text-align: center;
}

.joinM {
  background-color: #a7f5f8;
  border: 2px solid #3bc9ce;
  border-radius: 3px;
  color: #000;
  padding: 2%;
  font-size: 1.5vw;
}

.activeMem {
  background-color: #88df6f;
  text-decoration: none;
  border: 2px solid #2ca20a;
  border-radius: 3px;
  color: #1e8500;
  font-size: 1.5vw;
}

.button-leave,
.not-member {
  background-color: #ff8989;
  border: 2px solid #fa1b1b;
  border-radius: 3px;
  color: #fa1b1b;
  text-transform: capitalize;
  padding: 1%;
  font-size: 1.5vw;
}
